.hall-of-fame-section {
  .container {
    row-gap: 24px;
    padding-block: 32px;

    @media (width >= 900px) {
      row-gap: 48px;
      padding-block: 64px;
    }
  }

  .content {
    display: flex;
    gap: 8px;
    flex-direction: column;
    text-align: center;
    
    @media (width >= 900px) {
      grid-column: 3 / 11;
      gap: 16px;
    }
  }

  .button-container {
    place-self: center;
  }
}

.hall-of-fame-filter {
  transform: translateY(-125px);
  margin-inline: 16px;

  @media (width >= 900px) {
    margin-inline: 0;
  }

  form {
    background: var(--bg-color-1);
    box-shadow: var(--card-box-shadow);
    border: var(--card-border-1);
    display: flex;
    justify-content: center;
    padding: 24px;
    border-radius: 8px;
    flex-direction: column;
    gap: 16px;

    @media (width >= 900px) {
      grid-column: 3 / 11;
      width: 100%;
      gap: 48px;
      align-items: center;
      flex-direction: row;
    }

    label {
      font: var(--section-header-5);
      color: var(--heading-color-3);
    }
  }
}

.hosters-section {
  .container {
    gap: 64px 32px;
  }

  .content {
    gap: 16px;
    display: flex;
    flex-direction: column;

    @media (width >= 900px) {
      grid-column: 2 / 10;
    }

    h2 {
      color: var(--heading-color-1);
      font: var(--section-header-2);
    }

    p {
      color: var(--body-color-1);
      font: var(--section-body-1);
    }
  }

  .image-container {
    background-color: var(--green-100);
    border-radius: 100%;
    padding: 24px 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;

    @media (width >= 900px) {
      grid-column: 10 / 12;
    }
  }

  .secondary-button {
    justify-self: center;
  }
}