.test-section {
  .container {
    row-gap: 8px;
    padding-block: 40px;
    
    @media (width >= 900px) {
      gap: 24px 32px;
      padding-block: 104px;
    }
  }

  h1 {
    padding-bottom: 8px;

    @media (width >= 900px) {
      grid-column: 2 / 12;
      padding-bottom: 24px;
    }
  }

  &.home-variant {
    h1 {
      grid-column: span 12;
    }
  }

  &.secondary {
    margin-bottom: 40px;

    @media (width >= 900px) {
      margin-bottom: 80px;
    }
  
    .container {
      row-gap: 24px;
      padding-block: 32px;
  
      @media (width >= 900px) {
        row-gap: 32px;
        padding-block: 48px;
      }
    }
  
    h2 {
      grid-column: span 12;
      text-align: center;
  
      @media (width >= 900px) {
        grid-column: 2 / 12;
      }
    }
  }
}