.test-section {
  background: var(--bg-color-2);
  overflow: clip;

  @media (width >= 900px) {
    border-radius: 16px;
    margin: 16px 16px 0;
  }

  .container {
    row-gap: 8px;
    position: relative;
    z-index: 0;
    padding-block: 40px;
    
    @media (width >= 900px) {
      gap: 24px 32px;
      padding-block: 104px;
    }

    h1 {
      font: var(--page-title);
      color: var(--heading-color-1);
      grid-column: span 12;
      padding-bottom: 8px;
    }
  }

  .ellipse-container {
    bottom: 60%;

    @media (width >= 900px) {
      bottom: -25%;
      left: -10%;
    }

    .ellipse {
      background: var(--ellipse-color-1);
    }
  }
}

.test-card-large {
  grid-column: span 12;

  @media (width >= 900px) {
    grid-column: span 8;
    grid-row: span 2;
  }

  a {
    display: none;
    margin-top: 24px;
    align-items: center;
    gap: 16px;
    color: var(--card-body-color-1);
    font: var(--section-link-2);
    font-weight: 500;
    width: fit-content;
    border-bottom: 1px solid var(--transparent-100);
    transition: 0.3s;

    &:hover {
      border-bottom: 1px solid currentcolor;
    }
    
    @media (width >= 900px) {
      display: flex;
    }
  }
}